doctype html
include plantilla
#divSecundario
      script.
        function mostrarFormulario(idF) {
          let form = document.getElementById(idF);

          form.style.display = "block";
          }

      button(type="button", onclick="mostrarFormulario('formularioProfecional')") Realizar receta
      button(type="button", onclick="mostrarFormulario('formularioAdministrativo')") Acceder a medicamentos 
      button(type="button", onclick="mostrarFormulario('formularioAdministrativoR')") Acceder a Profecionales

      form#formularioProfecional(style="display: none;", action="/verificarProfecional", method="POST")
        label(for="idUsuari") Usuario:
        input(type="text", id="idUsuario", name="idUsuario")
        label(for="idClave") Clave 
        input(type="text",id="idClave",name="idClave")
        input(type="submit", value="Ingresar")

      form#formularioAdministrativo(style="display: none;", action="/verificarAdministrativo", method="POST")
        label(for="idAdministrativo") ID del Administrativo:
        input(type="text", id="idAdminidtrativo", name="idAdministrativo")
        input(type="submit", value="Enviar")

      form#formularioAdministrativoR(style="display: none;", action="/verificarAdministrativoR", method="POST")
        label(for="idAdministrativoR") ID del Administrativo:
        input(type="text", id="idAdminidtrativoR", name="idAdministrativoR")
        input(type="submit", value="Enviar") 

      if alerta 
        script.
           alert("Su codigo de acceso es incorrecto");