#divPrincipal {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0;
}h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
#divCabecera {
    /*position: fixed;*/
    text-align: center;
    background-color:antiquewhite;
    width: 95%;
    margin: 1%;
    /*z-index: 1000;*/ 
    box-shadow: 0 0 0 10px rgb(0, 255, 191); 
}
#divSecundario{
      /*position: fixed;*/
      text-align: center;
      background-color:antiquewhite;
      width: 95%;
      margin: 1%;
      /*z-index: 1000;*/ 
      box-shadow: 0 0 0 10px rgb(0, 255, 191); 
}