doctype html
include plantilla
#divSecundario
      script.
        function mostrarFormulario(idF) {
          let form = document.getElementById(idF);

          form.style.display = "block";
          }

      button(type="button", onclick="mostrarFormulario('formularioProfecional')") Realizar receta
      button(type="button", onclick="mostrarFormulario('formularioAdministrativo')") Acceder a medicamentos 
      button(type="button", onclick="mostrarFormulario('formularioAdministrativo')") Acceder a Profecionales

      form#formularioProfecional(style="display: none;", action="/verificarProfecional", method="POST")
        label(for="idProfecional") ID del Profecional:
        input(type="text", id="idProfecional", name="idProfecional")
        input(type="submit", value="Enviar")

      form#formularioAdministrativo(style="display: none;", action="/verificarAdministrativo", method="POST")
        label(for="id2") ID del Administrativo:
        input(type="text", id="idAdminidtrativo", name="idAdministrativo")
        input(type="submit", value="Enviar")

      